out/
playground/
build-graphs/
dist/

data/*
!data/raw/
data/raw/*
!data/raw/.gitkeep

!data/cached
!data/cached/*

.snakemake/
.envrc

__pycache__/

.ipynb_checkpoints

.pixi/
.vscode/
.quarto/

/.quarto/
